*.bin
*.vcd
*.log
*.jou
*.zip
**/docs/
*.bit
*.fst
*generated.txt
**/.Xil/
!**/.Xil/main_propImpl.xdc
*usage_statistics*
*.checkpoint

**/xilinx/*
!**/xilinx/*.xpr
*__pycache__/
*output.txt
results
.idea/